# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Cache * derived files
vegan-slides_cache/
vegan-slides_files/

# backup file
*~

